@font-face{font-family:'Anton';font-style:normal;font-weight:400;font-display:block;src:url('fuentes/anton-400.ttf') format('truetype')}
@font-face{font-family:'Space Grotesk';font-style:normal;font-weight:400;font-display:block;src:url('fuentes/spacegrotesk-400.ttf') format('truetype')}
@font-face{font-family:'Space Grotesk';font-style:normal;font-weight:600;font-display:block;src:url('fuentes/spacegrotesk-600.ttf') format('truetype')}
@font-face{font-family:'Space Grotesk';font-style:normal;font-weight:700;font-display:block;src:url('fuentes/spacegrotesk-700.ttf') format('truetype')}
